__pycache__/
.vscode/
venv/
static/admin/
static/rest_framework/
static/django_extensions/
.DS_Store
*.pyc
local.py
db.sqlite3
**/migrations/**
!**/migrations
!**/migrations/__init__.py
media/
static/
!**/frontend/static/
app.yaml