
django==2.2.1
psycopg2-binary==2.8.2
djangorestframework
gunicorn==19.9.0
arrow
django-phonenumber-field
phonenumbers
django-phonenumber-field
Pillow==5.0.0
django-autoslug
django-admin-thumbnails
django_ace
google-cloud-storage==1.10.0  
django-storages==1.7.1
git+https://github.com/yandex-money/yandex-money-kit-django.git