{% extends "base.html" %}

{% load static %}


{% block title %}
    О нас
{% endblock %}

{% block description %}
    {{ site_config.meta_description}}
{% endblock %}

{% block og_title %}
    О нас
{% endblock %}

{% block og_description %}
    {{ site_config.meta_description}}
{% endblock %}

{% block meta_image %}
    https://{{ request.META.HTTP_HOST }}{{ url_parts.absolute_uri }}{% get_media_prefix %}{{ site_config.meta_image }}
{% endblock %}


{% block content %}
    <div class="about innerpage">
        <div class="container">
            <div class="smalltitle">О клубе</div>
            <div class="about__title">
                {{ site_config.about_page_main_text|safe }}
            </div>
            <div class="about__list">
                <div class="about__director">
                    <div class="about__director-pic">
                        <img src="{% get_media_prefix %}{{ site_config.about_page_direcor_image }}" srcset="{% get_media_prefix %}{{ site_config.about_page_direcor_image_r }} 2x" alt="" />
                    </div>
                    <div class="about__director-name">
                        <p>{{ site_config.about_page_direcor|safe }}</p><span> директор</span>
                    </div>
                </div>
                <div class="about__text">
                    <p class="about__text about__text-item">
                        {{ site_config.about_page_top_first_text|safe }}
                    <p class="about__text about__text-item">
                        {{ site_config.about_page_top_second_text|safe }}
                </div>
            </div>
        </div>
        <a class="downnpage" href="#about_2">
            <img src="{% static 'images/arrow-down.svg' %}" alt="" />
        </a>
    </div>
    <div class="about_2" id="about_2">
        <div class="container">
            <div class="smalltitle">Наши участники</div>
            <div class="about__tichers">
                {% for lecturer in lecturers %}
                    <div class="ticher">
                        <div class="ticher__pic">
                            <img src="{% get_media_prefix %}{{lecturer.image}}" srcset="{% get_media_prefix %}{{ lecturer.image_r }} 2x" alt="" />
                        </div>
                        <div class="ticher__name">{{ lecturer.name }}</div>
                        <p class="about__text">
                            {{ lecturer.position }} <br> {{ lecturer.text|safe }}
                        </p>
                    </div>
                {% endfor %}
            </div>
            <div class="about__bottom">
                {{ site_config.about_page_bottom_html|safe }}
            </div>
        </div>
    </div>
{% endblock %}