{% extends "base.html" %}
{% load custom_tags %}

{% load static %}

{% block title %}
    {% if site_config.meta_title_events %}
        {{ site_config.meta_title_events }}
    {% else %}
        Расписание ближайших событий
    {% endif %}
{% endblock %}

{% block description %}
    {% if site_config.meta_description_events %}
        {{ site_config.meta_description_events }}
    {% else %}
        {{ site_config.meta_description}}
    {% endif %}
{% endblock %}

{% block og_title %}
    {% if site_config.meta_title_events %}
        { site_config.meta_title_events }}
    {% else %}
        Расписание ближайших событий
    {% endif %}
{% endblock %}

{% block og_description %}
    {% if site_config.meta_description_events %}
        {{ site_config.meta_description_events }}
    {% else %}
        {{ site_config.meta_description}}
    {% endif %}
{% endblock %}

{% block meta_image %}
    https://{{ request.META.HTTP_HOST }}{{ url_parts.absolute_uri }}{% get_media_prefix %}{{ site_config.meta_image }}
{% endblock %}

{% block content %}
    <div class="calendar innerpage">
        <div class="container">
            <div class="smalltitle">Расписание ближайших событий</div>
            {% regroup events by event_time|date:"Y-F-d-l" as events_by_day %}
            <div class="calendar__list infinite-container">
                {% for event in events_by_day  %}
                    <div class="calendar__item infinite-item">
                        <div class="calendar__date">
                            <p class="calendar__number">{{ event.grouper|get_date:'day' }}</p>
                            <p class="calendar__day">
                                <span>{{ event.grouper|get_date:'month' }}</span>
                                <span>{{ event.grouper|get_date:'day_n' }}</span>
                            </p>
                        </div>
                        <div class="calendar__event">
                            {% for event_t in event.list %}
                                <div class="event">
                                    <div class="event__title">{{ event_t.name }}</div>
                                    {% if event_t.is_free %}
                                        <div class="event__price">
                                            <span >Бесплатно</span>
                                        </div>
                                    {% else %}
                                        <a class="event__price" href="{% url 'events-payment' event_id=event_t.id %}">
                                            <span>{{ event_t.price }} ₽</span>
                                            <p>Купить билет</p>
                                        </a>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                {% if page_obj.has_next %}
               
                    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
                {% endif %}
                <div class="spinner-border" style="display:none;" role="status">
                    <div id="sh-preloader">
                        <div id="sh-wave-loader">
                            <svg xmlns="http://www.w3.org/2000/svg" width="80px" height="60px" viewBox="5 0 80 60">
                                <path id="wave" fill="none" stroke="#FF0000" stroke-width="3" stroke-linecap="round"
                                    d="M 0 37.5 c 7.684299348848887 0 7.172012725592294 -15 15 -15 s 7.172012725592294 15 15 15 s 7.172012725592294 -15 15 -15 s 7.172012725592294 15 15 15 s 7.172012725592294 -15 15 -15 s 7.172012725592294 15 15 15 s 7.172012725592294 -15 15 -15 s 7.172012725592294 15 15 15 s 7.172012725592294 -15 15 -15 s 7.172012725592294 15 15 15 s 7.172012725592294 -15 15 -15 s 7.172012725592294 15 15 15 s 7.172012725592294 -15 15 -15 s 7.172012725592294 15 15 15 s 7.172012725592294 -15 15 -15">
                                </path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="/static/js/jquery-2.2.4.min.js"></script>
    <script src="/static/js/jquery.waypoints.min.js"></script>
    <script src="/static/js/infinite.min.js"></script>

    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            handler: function(direction) {
            },
            offset: 'bottom-in-view',
        
            onBeforePageLoad: function () {
                $('.spinner-border').show();
            },
            onAfterPageLoad: function () {
                $('.spinner-border').hide();
            }
        });
        </script>
{% endblock %}